#############################################################
# GNU GENERAL PUBLIC LICENSE
#
# define git access data
[git-configs]
username=name
password=pass1
repopath=/home/ray/path/toRepo.git
remote=http://bla:bla@domain.com:8080/git/TestConfig.git

#############################################################
# define ssh server access data
[ssh-server]
ip = 192.168.10.50
username = bla
password = 111111

#############################################################
# define hosts access data
[host-bluber]
host=bluber
ipaddress=192.168.10.12
username=name
password=pass2

[host-bluber2]
host=bluber2
ipaddress=192.168.10.33
username=name
password=pass3

[host-switch01]
host = swicht01.mycompany.com
ipaddress = 192.168.10.1
username = blub
password = blubpass

[host-accessp1]
host=ap541.mycompany.com
ipadress = 192.168.10.2
username = blub
password = blubpass

#############################################################
# define commands
[file-bluber-config.xml]
host=bluber
remotepath=/path/config.xml
localpath=bluber1/config.xml

[file-bluber2-hosts]
host=bluber2
remotepath=/etc/hosts
localpath=bluber2/hosts

[file-bluber2-dnsmasq]
host=bluber2
remotepath=/etc/dnsmasq.conf
localpath=bluber2/dnsmasq.conf

[pc6428-switch01-running-config]
host=swicht01.mycompany.com
remotepath=/tmp/swicht01-running-config
localpath=swicht01/running-config

[ap541-accessp1]
host=ap541.mycompany.com
remotepath=/tmp/config.xml
localpath=ap541/config.xml

